In [24]:
import pandas as pd
import numpy as np

In [ ]:

# Method 1: Create DataFrame from a NumPy array
data_numpy = np.array([
    [1, 'Blue', [1, 2], 1.1],
    [3, 'Red', [3, 4], 2.2],
    [5, 'Pink', [5, 6], 3.3],
    [7, 'Grey', [7, 8], 4.4],
    [9, 'Black', [9, 10], 5.5]
], dtype=object)

df_from_numpy = pd.DataFrame(data_numpy, columns=["color", "list", "number", "float"])

# Method 2: Create DataFrame from Pandas Series
series_data = {
    "color": pd.Series(["Blue", "Red", "Pink", "Grey", "Black"]),
    "list": pd.Series([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]),
    "number": pd.Series([1.1, 2.2, 3.3, 4.4, 5.5])
}

df_from_series = pd.DataFrame(series_data)



# Printing the types of the first value in each column
print(type(df_from_series["color"].iloc[0]))  # <class 'str'>
print(type(df_from_series["list"].iloc[0]))   # <class 'list'>
print(type(df_from_series["number"].iloc[0])) # <class 'float'>

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

<class 'str'>
<class 'list'>
<class 'numpy.float64'>

In [26]:
#1
import pandas as pd
# Load the dataset
URL = 'https://assets.01-edu.org/ai-branch/piscine-ai/household_power_consumption.txt'
df = pd.read_csv(URL, sep=';', low_memory=False)
# 1. Delete specified columns
df.drop(['Time', 'Sub_metering_2', 'Sub_metering_3'], axis=1, inplace=True)

In [27]:
# 2. Set Date as datetime index
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df.set_index('Date', inplace=True)
df.head().index

DatetimeIndex(['2006-12-16', '2006-12-16', '2006-12-16', '2006-12-16',
               '2006-12-16'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [28]:
# 3. Function to update column types
def update_types(df):
    for col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')
    return df
df = update_types(df)
df.dtypes

Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
dtype: object

In [ ]:
# 4 Use describe to have an overview on the data set
df.describe()

<bound method DataFrame.round of        Global_active_power  Global_reactive_power       Voltage  \
count         2.049280e+06           2.049280e+06  2.049280e+06
mean          1.091615e+00           1.237145e-01  2.408399e+02
std           1.057294e+00           1.127220e-01  3.239987e+00
min           7.600000e-02           0.000000e+00  2.232000e+02
25%           3.080000e-01           4.800000e-02  2.389900e+02
50%           6.020000e-01           1.000000e-01  2.410100e+02
75%           1.528000e+00           1.940000e-01  2.428900e+02
max           1.112200e+01           1.390000e+00  2.541500e+02

       Global_intensity  Sub_metering_1
count      2.049280e+06    2.049280e+06
mean       4.627759e+00    1.121923e+00
std        4.444396e+00    6.153031e+00
min        2.000000e-01    0.000000e+00
25%        1.400000e+00    0.000000e+00
50%        2.600000e+00    0.000000e+00
75%        6.400000e+00    0.000000e+00
max        4.840000e+01    8.800000e+01  >

In [31]:
# 5. Remove rows with missing values
df.dropna(inplace=True)
df.isna().sum()

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
dtype: int64

In [32]:
# 6. Modify Sub_metering_1
df.loc[:, 'Sub_metering_1'] = (df['Sub_metering_1'] + 1) * 0.06

In [33]:
# 7. Filter rows based on Date and Voltage
filtered_df = df[(df.index >= '2008-12-27') & (df['Voltage'] >= 242)]
print(filtered_df.head().to_markdown())

| Date                |   Global_active_power |   Global_reactive_power |   Voltage |   Global_intensity |   Sub_metering_1 |
|:--------------------|----------------------:|------------------------:|----------:|-------------------:|-----------------:|
| 2008-12-27 00:00:00 |                 0.996 |                   0.066 |    244.81 |                4   |             0.06 |
| 2008-12-27 00:00:00 |                 1.076 |                   0.162 |    244.78 |                4.4 |             0.06 |
| 2008-12-27 00:00:00 |                 1.064 |                   0.172 |    244.74 |                4.4 |             0.06 |
| 2008-12-27 00:00:00 |                 1.07  |                   0.174 |    245.28 |                4.4 |             0.06 |
| 2008-12-27 00:00:00 |                 0.804 |                   0.184 |    246.3  |                3.4 |             0.06 |

In [34]:
# 8. Print the 88888th row
print("88888th row:")
print(df.iloc[88887])

88888th row:
Global_active_power        0.254
Global_reactive_power      0.000
Voltage                  238.100
Global_intensity           1.200
Sub_metering_1             0.060
Name: 2007-02-16 00:00:00, dtype: float64

In [35]:
# 9. Date with maximum Global_active_power
max_date = df['Global_active_power'].idxmax()
print("\nDate with max Global_active_power:", max_date)

Date with max Global_active_power: 2009-02-22 00:00:00

In [26]:
# 10. Sort by Global_active_power (descending) and Voltage (ascending)
sorted_df = df.sort_values(by=['Global_active_power', 'Voltage'], ascending=[False, True])
print(sorted_df.tail().to_markdown())

| Date                |   Global_active_power |   Global_reactive_power |   Voltage |   Global_intensity |   Sub_metering_1 |
|:--------------------|----------------------:|------------------------:|----------:|-------------------:|-----------------:|
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    234.88 |                0.2 |             0.06 |
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    235.18 |                0.2 |             0.06 |
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    235.4  |                0.2 |             0.06 |
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    235.64 |                0.2 |             0.06 |
| 2008-08-12 00:00:00 |                 0.076 |                       0 |    236.5  |                0.2 |             0.06 |

In [36]:

# 11. Compute daily average of Global_active_power
daily_avg = df.resample('D')['Global_active_power'].mean()
print("\nDaily average of Global_active_power:")
print(daily_avg)

Daily average of Global_active_power:
Date
2006-12-16    3.053475
2006-12-17    2.354486
2006-12-18    1.530435
2006-12-19    1.157079
2006-12-20    1.545658
                ...
2010-11-22    1.417733
2010-11-23    1.095511
2010-11-24    1.247394
2010-11-25    0.993864
2010-11-26    1.178230
Freq: D, Name: Global_active_power, Length: 1442, dtype: float64

# Exercise 3: E-commerce purchases

In [38]:
#1
df = pd.read_csv('Ecommerce_purchases.txt', sep=',', on_bad_lines='skip')

In [39]:



print("1. Rows and Columns:", df.shape)


print("\n2. Average Purchase Price:", df['Purchase Price'].mean())

print("\n3. Max Price:", df['Purchase Price'].max())
print("   Min Price:", df['Purchase Price'].min())

print("\n4. English Speakers:", df[df['Language'] == 'en'].shape[0])

print("\n5. Lawyers:", df[df['Job'] == 'Lawyer'].shape[0])


print("\n6. AM/PM Purchases:")
print(df['AM or PM'].value_counts())

print("\n7. Top 5 Jobs:")
print(df['Job'].value_counts().head(5))

lot_price = df[df['Lot'] == '90 WT']['Purchase Price'].values[0]
print("\n8. Purchase Price for Lot '90 WT':", lot_price)


cc_email = df[df['Credit Card'] == 4926535242672853]['Email'].values[0]
print("\n9. Email for CC 4926535242672853:", cc_email)


amex_95 = df[(df['CC Provider'] == 'American Express') & (df['Purchase Price'] > 95)].shape[0]
print("\n10. Amex > $95:", amex_95)


exp_2025 = df[df['CC Exp Date'].apply(lambda x: x.split('/')[1] == '25')].shape[0]
print("\n11. Cards expiring in 2025:", exp_2025)


df['Email Domain'] = df['Email'].str.split('@').str[1]
print("\n12. Top 5 Email Domains:")
print(df['Email Domain'].value_counts().head(5))

1. Rows and Columns: (10000, 14)

2. Average Purchase Price: 50.347302

3. Max Price: 99.99
   Min Price: 0.0

4. English Speakers: 1098

5. Lawyers: 30

6. AM/PM Purchases:
AM or PM
PM    5068
AM    4932
Name: count, dtype: int64

7. Top 5 Jobs:
Job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Designer, jewellery                  27
Name: count, dtype: int64

8. Purchase Price for Lot '90 WT': 75.1

9. Email for CC 4926535242672853: bondellen@williams-garza.com

10. Amex > $95: 39

11. Cards expiring in 2025: 1033

12. Top 5 Email Domains:
Email Domain
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64

# Task 4

In [94]:
import pandas as pd

# Загрузка данных
df = pd.read_csv("iris.txt")

# 1. Удаление столбца 'flower'
df = df.drop(columns=["flower"])

# 2. Конвертация колонок в числовой формат (float)
numeric_cols = ["sepal_length", "sepal_width", "petal_length", "petal_width"]
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")

# 3. Заполнение пропусков по стратегиям
df = df.fillna({
    "sepal_length": df["sepal_length"].mean(),  # Среднее
    "sepal_width": df["sepal_width"].median(),  # Медиана
    "petal_length": 0,                         # Ноль
    "petal_width": 0                           # Ноль
})


print("Пропуски после заполнения:")
print(df.isnull().sum())


print("\nСтатистика данных:")
print(df.describe())

print("\nСтрока 122:")
print(df.loc[122])

Пропуски после заполнения:
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
dtype: int64

Статистика данных:
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean      56.907534    49.648000     12.423333    11.786000
std      564.489133   404.506037    114.078057   130.550042
min       -4.400000    -3.600000     -4.800000    -2.500000
25%        5.100000     2.800000      1.300000     0.225000
50%        5.800000     3.000000      4.000000     1.300000
75%        6.500000     3.300000      4.975000     1.800000
max     6900.000000  3809.000000   1400.000000  1600.000000

Строка 122:
sepal_length    56.907534
sepal_width      3.000000
petal_length     0.000000
petal_width      0.000000
Name: 122, dtype: float64